{% extends "base.html" %}

{% block head %}
  <title>SaraCo - صفحه اصلی</title>
  <!-- SEO Meta Tags-->
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">
{% endblock head %}

{% block main %}
  <section class="container pt-5 my-5 pb-lg-2">
    <div class="row pt-0 pt-md-2 pt-lg-0">
      <div class="col-xl-7 col-lg-6 col-md-5 order-md-2 mb-4 mb-lg-3"><img src="static/img/undraw_under_construction_-46-pa-2.svg" alt="Hero image"></div>
      <div class="col-xl-5 col-lg-6 col-md-7 order-md-1 pt-xl-5 pe-lg-0 mb-3 text-md-start text-center">
        <h1 class="display-4 mt-lg-5 mb-md-4 mb-3 pt-md-4 pb-lg-2">به پاک سرای کارن<br>خوش آمدید</h1>
        <p class="position-relative lead ms-lg-n5 fs-6">به راحتی و سریع تر از همیشه برای پروژه خودت مجری پیدا کن</p>
      </div>
    </div>
  </section>
  <!-- projects-->
  <section class="container pb-4 pt-1 mb-5">
    <div class="d-flex align-items-end align-items-lg-center justify-content-between mb-4 pb-md-2">
      <div class="d-flex w-100 align-items-center justify-content-between justify-content-lg-start">
        <h2 class="h3 mb-0 me-md-4 ">پروژه های انجام شده توسط ما</h2>
      </div><a class="btn btn-link fw-normal ms-sm-3 p-0" href="city-guide-catalog.html">مشاهده همه<i class="fi-arrow-long-left ms-2"></i></a>
    </div>
    {% comment %} <div class="row g-4">
      <div class="col-md-6">
        <div class="card bg-size-cover bg-position-center border-0 overflow-hidden mb-4" style="background-image: url(img/real-estate/recent/02.jpg);"><span class="img-gradient-overlay"></span>
          <div class="card-body content-overlay pb-0"><span class="badge bg-info fs-sm">جدید</span></div>
          <div class="card-footer content-overlay border-0 pt-0 pb-4">
            <div class="d-sm-flex justify-content-between align-items-end pt-5 mt-2 mt-sm-5"><a class="text-decoration-none text-light pe-2" href="real-estate-single-v1.html">
              <div class="fs-sm text-uppercase pt-2 mb-1">فروشی</div>
              <h3 class="h5 text-light mb-1">خانه دوبلکس</h3>
              <div class="fs-sm opacity-70"><i class="fi-map-pin me-1"></i> ایران، استان تهران ، میدان آزادی</div></a>
              <div class="btn-group ms-n2 ms-sm-0 mt-3"><a class="btn btn-primary px-3" href="real-estate-single-v1.html" style="height: 2.75rem;">شروع قیمت از 58.000.000 ت</a>
                <button class="btn btn-primary btn-icon border-end-0 border-top-0 border-bottom-0 border-light fs-sm" type="button"><i class="fi-heart"></i></button>
              </div>
            </div>
          </div>
        </div>
        <div class="card bg-size-cover bg-position-center border-0 overflow-hidden" style="background-image: url(img/real-estate/recent/03.jpg);"><span class="img-gradient-overlay"></span>
          <div class="card-body content-overlay pb-0"><span class="badge bg-info fs-sm">جدید</span></div>
          <div class="card-footer content-overlay border-0 pt-0 pb-4">
            <div class="d-sm-flex justify-content-between align-items-end pt-5 mt-2 mt-sm-5"><a class="text-decoration-none text-light pe-2" href="real-estate-single-v1.html">
              <div class="fs-sm text-uppercase pt-2 mb-1">فروشی</div>
              <h3 class="h5 text-light mb-1">واحد تجاری و اداری</h3>
              <div class="fs-sm opacity-70"><i class="fi-map-pin me-1"></i> ایران، استان تهران ، میدان آزادی</div></a>
              <div class="btn-group ms-n2 ms-sm-0 mt-3"><a class="btn btn-primary px-3" href="real-estate-single-v1.html" style="height: 2.75rem;">شروع قیمت از 58.000.000 ت</a>
                <button class="btn btn-primary btn-icon border-end-0 border-top-0 border-bottom-0 border-light fs-sm" type="button"><i class="fi-heart"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card bg-size-cover bg-position-center border-0 overflow-hidden h-100" style="background-image: url(img/real-estate/recent/01.jpg);"><span class="img-gradient-overlay"></span>
          <div class="card-body content-overlay pb-0">
            <div class="d-flex"><span class="badge bg-success fs-sm me-2">تایید</span><span class="badge bg-info fs-sm">جدید</span></div>
          </div>
          <div class="card-footer content-overlay border-0 pt-0 pb-4">
            <div class="d-sm-flex justify-content-between align-items-end pt-5 mt-2 mt-sm-5"><a class="text-decoration-none text-light pe-2" href="real-estate-single-v1.html">
                <div class="fs-sm text-uppercase pt-2 mb-1">اجاره ای</div>
                <h3 class="h5 text-light mb-1">ویلا اجاره ای لاکچری</h3>
                <div class="fs-sm opacity-70"><i class="fi-map-pin me-1"></i> ایران، استان تهران ، میدان آزادی</div></a>
              <div class="btn-group ms-n2 ms-sm-0 mt-3"><a class="btn btn-primary px-3" href="real-estate-single-v1.html" style="height: 2.75rem;">شروع قیمت از 58.000.000 ت</a>
                <button class="btn btn-primary btn-icon border-end-0 border-top-0 border-bottom-0 border-light fs-sm" type="button"><i class="fi-heart"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> {% endcomment %}
  </section>
  <!-- Articles Section-->
  <section class="container mb-sm-5 mb-4 pb-lg-4">
    <div class="d-sm-flex align-items-center justify-content-between mb-4 pb-2">
      <h2 class="h4 mb-sm-0 font-vazir">مقالات پرطرفدار</h2><a class="btn btn-link fw-normal ms-sm-3 p-0" href="city-guide-catalog.html">مشاهده همه<i class="fi-arrow-long-left ms-2"></i></a>
    </div>
    <div class="tns-carousel-wrapper tns-controls-outside-xxl tns-nav-outside">
      <div class="tns-carousel-inner" data-carousel-options="{&quot;items&quot;: 3, &quot;gutter&quot;: 24, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1,&quot;nav&quot;:true},&quot;500&quot;:{&quot;items&quot;:2},&quot;850&quot;:{&quot;items&quot;:3},&quot;1400&quot;:{&quot;items&quot;:3,&quot;nav&quot;:false}}}">
        <!-- Items-->
        {% for article in articles %}
          <div>
            <div class="position-relative">
              <div class="position-relative mb-3">
                <img class="rounded-3" src="" alt="">
              </div>
              <h3 class="mb-2 fs-lg"><a class="nav-link stretched-link" href=""></a></h3>
              <ul class="list-inline mb-0 fs-sm">
                <li class="list-inline-item pe-1"><i class="fi-calendar-alt mt-n1 me-1 fs-base text-muted align-middle"></i>اردیبهشت 8</li>
                <li class="list-inline-item pe-1"><i class="fi-chat-circle mt-n1 me-1 fs-base text-muted align-middle"></i>0 نظر</li>
              </ul>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!-- FAQ-->
  <section class="container mb-5 pt-1 pb-2 py-lg-5">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10">
        <h2 class="h3 mb-4 pb-3 text-dark text-center">سوالات متداول</h2>
        <!-- Tabs content-->
        <div class="pt-3">
          <div class="accordion accordion-dark" id="accordionFAQ">
          <!-- Acordion item-->
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading-1">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">هزینه فروش خودرو در فایندر چقدر است؟</button>
            </h2>
            <div class="accordion-collapse collapse show" aria-labelledby="heading-1" data-bs-parent="#accordionFAQ" id="collapse-1">
              <div class="accordion-body text-dark opacity-70">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</div>
            </div>
          </div>
          <!-- Accordion item-->
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading-2">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">چگونه بهترین عکس ها را از ماشینم بگیرم؟</button>
            </h2>
            <div class="accordion-collapse collapse" aria-labelledby="heading-2" data-bs-parent="#accordionFAQ" id="collapse-2">
              <div class="accordion-body text-dark opacity-70">کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت</div>
            </div>
          </div>
          <!-- Accordion item-->
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading-3">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">اگر خارج از ایالات متحده زندگی می کنم می توانم وسیله نقلیه بفروشم؟</button>
            </h2>
            <div class="accordion-collapse collapse" aria-labelledby="heading-3" data-bs-parent="#accordionFAQ" id="collapse-3">
              <div class="accordion-body text-dark opacity-70">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</div>
            </div>
          </div>
          <!-- Accordion item-->
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading-4">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-4" aria-expanded="false" aria-controls="collapse-4">خریدار چگونه با من در تماس است و پرداخت را انجام می دهد؟</button>
            </h2>
            <div class="accordion-collapse collapse" aria-labelledby="heading-4" data-bs-parent="#accordionFAQ" id="collapse-4">
              <div class="accordion-body text-dark opacity-70">کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت.</div>
            </div>
          </div>
          <!-- Accordion item-->
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading-5">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-5" aria-expanded="false" aria-controls="collapse-5">چه کسی شرح لیست ماشین من را می نویسد؟</button>
            </h2>
            <div class="accordion-collapse collapse" aria-labelledby="heading-5" data-bs-parent="#accordionFAQ" id="collapse-5">
              <div class="accordion-body text-dark opacity-70">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</div>
            </div>
          </div>
          <!-- Accordion item-->
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading-6">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-6" aria-expanded="false" aria-controls="collapse-6">آیا قوانینی برای رعایت در نظرات وجود دارد؟</button>
            </h2>
            <div class="accordion-collapse collapse" aria-labelledby="heading-6" data-bs-parent="#accordionFAQ" id="collapse-6">
              <div class="accordion-body text-dark opacity-70">کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت.</div>
            </div>
          </div>
          <!-- Accordion item-->
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading-7">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-7" aria-expanded="false" aria-controls="collapse-7">فایندر از چه ارزی استفاده می کند؟</button>
            </h2>
            <div class="accordion-collapse collapse" aria-labelledby="heading-7" data-bs-parent="#accordionFAQ" id="collapse-7">
              <div class="accordion-body text-dark opacity-70">کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت.</div>
            </div>
          </div>
          <!-- Accordion item-->
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading-8">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-8" aria-expanded="false" aria-controls="collapse-8">چگونه به صورت خصوصی با فروشنده تماس بگیرم؟</button>
            </h2>
            <div class="accordion-collapse collapse" aria-labelledby="heading-8" data-bs-parent="#accordionFAQ" id="collapse-8">
              <div class="accordion-body text-dark opacity-70">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
    <div class="container position-relative zindex-5 py-lg-5">
      <div class="col-lg-8 col-md-10 mx-auto px-0 text-center">
        <h2 class="text-dark ">پاسخ را پیدا نکردید؟ ما می توانیم کمک کنیم.</h2>
        <p class="mb-4 pb-3 text-dark opacity-70">با ما تماس بگیرید و در اسرع وقت با شما تماس خواهیم گرفت.</p><a class="btn btn-lg btn-primary" href="{% url 'contact-us' %}">تماس با ما</a>
      </div>
    </div>
  </section>
  <!-- submit project-->
  <section class="container mb-5 pb-lg-5">
    <div class="py-md-4 py-5 bg-secondary rounded-3">
      <div class="col-sm-10 col-11 d-flex flex-md-row flex-column align-items-center justify-content-between mx-auto px-0">
        <div class="order-md-1 order-2 text-md-start text-center" style="max-width: 524px;">
          <h4 class="mb-4 pb-md-3 ">شما میتوانید با پر کردن فرم همکاری به عنوان مجری پروژه های ساختمانی با ما همکاری کنید</h4><a class="btn btn-lg btn-primary" href="{% url 'registration-form' %}">فرم همکاری</a>
        </div><img class="order-md-2 order-1 me-md-4" src="static/img/undraw_building_re_xfcm-2.svg" width="300" alt="Illustration">
      </div>
    </div>
  </section>
{% endblock main %}
